.site-header {
  position: fixed;
  padding: 0 40px;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}

/* 高さ指定そのものを削除 */
body {
  min-height: 100vh;
}

/* ヘッダー分、本文を下げる */
.site-main {
  margin: 210px 40px 50px 80px;
}

/* ヘッダー固定　スクロール最下層時影が出る */
.site-header.is-scrolled {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* FAQページ */
.faq-a {
  display: none;
}

.faq-a.is-open {
  display: block;
}

.faq-content {
  margin-bottom: 16px;
}

.faq-q {
  cursor: pointer;
  font-weight: bold;
}
