.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}

.site-title{
  margin: 10px;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin: 10px;
}

.menu-item {
  padding: 20px;
  text-align: center;
  border: 1px solid;
}

.menu-item::hover{
  background-color: black;
  color: white;
}

.menu-item.clicked {
  background-color: black;
  color: white;
}

/* 高さ指定そのものを削除 */
body {
  min-height: 100vh;
}

/* ヘッダー分、本文を下げる */
.site-main {
  margin: 210px 40px 50px 80px;
}

/* ヘッダー固定　スクロール最下層時影が出る */
.site-header.is-scrolled {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* FAQページ */
dl.faq-content {
  margin-bottom: 16px;
  counter-increment: q-counter;
}

.faq-content.open .faq-q::after{
  content: "ー";
}

dt.faq-q span::before {
  content: counter(q-counter) ". ";
}

.faq-q {
  cursor: pointer;
  font-weight: bold;
}

.faq-q::after {
  content: "＋";
  float: right;
}

.faq-a span::before {
  content: "A. ";
  color: red;
}

.faq-a {
  display: none;
}

.faq-a.is-open {
  display: block;
}
