.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 1000;
}

/* 高さ指定そのものを削除 */
body {
  min-height: 100vh;
}

/* ヘッダー分、本文を下げる */
.site-main {
  margin: 210px 40px 50px 80px;
}

/* ヘッダー固定　スクロール最下層時影が出る */
.site-header.is-scrolled {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
